*{
    margin: 0;
    padding: 0;
}

.container{
    width: 35%;
    margin: 50px auto;
    
}

body{
    background: linear-gradient(50deg,#c27ba0 0%,#c27ba0 50%,#741b47 30%,#741b47 100%);
    margin-top: 50px;
} 
h1{
    font-size: 75px;
    color: #fff;
    text-align: center;
}

h3{
    font-size: 50px;
    text-align: center;
    color: coral;
}

.contact-box{
    background: #d5a6d5;
    flex-basis: 50%;
    padding: 40px 60px;
    margin-top: px;
}
p{
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.next{
    margin-left: 30px;
    width: 160px;
    height: 35px;
    background: #4c1130;
    border-radius: 20px solid #fff;
    color: #fff;
    align-items: right;
    margin-top: 20px;
}

a{
    color: silver;
}